@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fancy-hero-letter {
  transition: 0.35s font-weight, 0.35s color, 0.35s all;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #00a971, #7fffd4);
  filter: hue-rotate(0deg);
  animation: hueShift 3s infinite linear;
  text-shadow: 0 0 1px #7fffd4;
}

.fancy-hero-letter:hover {
  font-weight: 800;
  transform: scaleX(1.4);
}

.fancy-hero-letter:hover + .fancy-hero-letter {
  font-weight: 700;
}

.fancy-hero-letter:hover + .fancy-hero-letter + .fancy-hero-letter {
  font-weight: 400;
}

.fancy-hero-letter:has(+ .fancy-hero-letter:hover) {
  font-weight: 700;
}

.fancy-hero-letter:has(+ .fancy-hero-letter + .fancy-hero-letter:hover) {
  font-weight: 400;
}

.fancy-hero-word {
  display: inline;
}

.fancy-hero-word.block {
  display: block;
  white-space: nowrap;
}

@media (max-width: 400px) {
  .fancy-hero-word.inline {
    display: block;
  }
}

.glowing-text {
  text-shadow: 0 0 30px #7fffd4, 0 0 3px #00a971;
}

.glowing-button {
  transition: ease-in-out 1s box-shadow;
  overflow: hidden;
  border-radius: 0.625rem;
  /* box-shadow: 0px 0px 10px 0px #7fffd4; */
}

.glowing-button:hover {
  box-shadow: 0 0 30px #7fffd4 inset, 0 0 10px #00a971;
  animation: breathing 1s infinite ease;
}

.glowing-button-parent {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes breathing {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes breathingHue {
  0% {
    filter: hue-rotate(0deg) blur(30px);
  }

  50% {
    filter: hue-rotate(360deg) blur(50px);
  }

  100% {
    filter: hue-rotate(0deg) blur(30px);
  }
}

.torchlight {
  background-image: linear-gradient(90deg, #00a971, #7fffd4);
  filter: hue-rotate(0deg) blur(30px);
  animation: breathingHue 3s infinite linear;
}

@media (hover: none) {
  .torchlight {
    display: none;
  }
}

input[type='file'] {
  display: none;
}

#uploadBtn {
  display: inline-block;
  color: #f9fafb;
  background: #1f2937;
  text-align: center;
  padding: 10px 20px;
  user-select: none;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid 1px gray;
}

#uploadBtn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3179ff; /* Custom focus style, e.g., a blue outline */
}

.error-outline {
  outline: 2px solid red;
}
